<div class="modal fade fn-service-modal" id="fnServiceModal" tabindex="-1" aria-labelledby="fnServiceModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <article class="fn-service-modal__card">
        <button type="button" class="fn-service-modal__close" data-bs-dismiss="modal" aria-label="Закрыть">
          <i class="fa-solid fa-xmark" aria-hidden="true"></i>
        </button>
        <div class="fn-service-modal__media" id="fnServiceModalMedia" hidden>
          <img class="fn-service-modal__img" id="fnServiceModalImg" src="" alt="">
        </div>
        <div class="fn-service-modal__body">
          <p class="fn-service-modal__category" id="fnServiceModalCategory" hidden></p>
          <h2 class="fn-service-modal__title" id="fnServiceModalTitle"></h2>
          <div class="fn-service-modal__meta">
            <p class="fn-service-modal__price" id="fnServiceModalPrice"></p>
            <p class="fn-service-modal__duration" id="fnServiceModalDuration">
              <i class="bi bi-clock" aria-hidden="true"></i>
              <span id="fnServiceModalDurationText"></span>
            </p>
          </div>
          <div class="fn-service-modal__desc" id="fnServiceModalDesc"></div>
        </div>
      </article>
    </div>
  </div>
</div>
